<div class="container">
	<div class="row">
		<div class="col-lg-10 offset-lg-1">
			<section style="margin-bottom: 20px">
				<span class="about-title">About Function</span>
				<ul id="tab-menu" class="clearfix">
					<li><a href="#tab1" class="active">NEW POST</a></li>
					<li><a href="#tab2" class="">POST INDEX</a></li>
					<li><a href="#tab3" class="">POST SHOW</a></li>
					<li><a href="#tab4" class="">MY PAGE</a></li>
				</ul>

				<div id="tab-contents" class="clearfix">
					<div id="tab1" class="tab">
						<p>NEW POST の紹介文</p>
					</div>
					<div id="tab2" class="tab">
						<p>POST INDEX の紹介文</p>
					</div>
					<div id="tab3" class="tab">
						<p>POST SHOW の紹介文</p>
					</div>
					<div id="tab4" class="tab">
						<p>MY PAGE の紹介文</p>
					</div>
				</div>

			</section>
		</div>
	</div>
</div>