<div class="container">
	<div class="row">
		<div class="col-lg-10 offset-lg-1">
			<section style="margin-bottom: 20px">
				<span class="about-title">About Function</span>
				<ul id="tab-menu" class="clearfix" style="padding-left:0">
					<li><a href="#tab1" class="active">NEW POST</a></li>
					<li><a href="#tab2" class="">POST INDEX</a></li>
					<li><a href="#tab3" class="">POST SHOW</a></li>
					<li><a href="#tab4" class="">MY PAGE</a></li>
				</ul>

				<div id="tab-contents" class="clearfix">
					<div id="tab1" class="tab">
						<p>新しい投稿が作成できます</p>
						<p>入力項目</p>
						<ul style="list-style-type: circle">
							<li>画像・タイトル・内容</li>
						</ul><br>
						<div class="tab1-image"></div>
					</div>
					<div id="tab2" class="tab">
						<p>全ての投稿が見れます</p>
						<p>表示項目</p>
						<ul style="list-style-type: circle">
							<li>画像・タイトル・内容</li>
							<li>投稿者のプロフィール画像</li>
							<li>コメント・いいね数</li>
						</ul>
						<div class="tab2-image"></div>
					</div>
					<div id="tab3" class="tab">
						<p>投稿の詳細とコメントが見れます</p>
						<p>表示項目</p>
						<ul style="list-style-type: circle">
							<li>画像・タイトル・内容</li>
							<li>投稿者のプロフィール画像・名前</li>
							<li>コメント・いいね数</li>
							<li>コメント一覧</li>
						</ul>
						<div class="tab3-image"></div>
					</div>
					<div id="tab4" class="tab">
						<p>自分や他のユーザーのプロフィールと投稿が見れます</p>
						<p>表示項目</p>
						<ul style="list-style-type: circle">
							<li>プロフィール</li>
							<li>投稿</li>
							<li>コメント・いいね数</li>
						</ul>
						<div class="tab4-image"></div>
					</div>
				</div>

			</section>
		</div>
	</div>
</div>